<h3>Choose a new VCDelta.org password</h3>
<p>Again, there's no SSL certificate here, so don't use the same password as anything important.</p>
<%= simple_form_for :reset, :url => password_reset_path(@user), :method => :put, :html => {:class => 'form-horizontal' } do |user| %>
  <div class="well">
    <%= user.input :password, :hint => "Enter your new password", :input_html => { :class => "span5" } %>
    <%= user.input :password_confirmation, :label => "Confirm password", :hint => "Please enter your password again", :input_html => { :class => "span5" } %>
    <%= user.input :token, :as => :hidden, :input_html => { :value => @token } %>
  </div>
  <%= user.button :submit, "Change my password", :class => 'btn btn-primary btn-large' %>
<% end %>