<h3>Create a VCDelta.org account</h3>
<p>Note that we didn't install SSH on this server, so please don't go using your super-secret password you use for everything else.</p>
<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |user| %>
  <div class="well">
    <%= user.input :email, :hint => "You'll use this email to sign in", :input_html => { :class => "span5" } %>
    <%= user.input :password, :hint => "Preferably one you don't use elsewhere", :input_html => { :class => "span5" } %>
    <%= user.input :password_confirmation, :label => "Confirm password", :hint => "Please enter your password again", :input_html => { :class => "span5" } %>
  </div>
  <%= user.button :submit, "Create my VCDelta account", :class => 'btn btn-primary btn-large' %>
<% end %>