<h3>Investments.json is a simple generator for machine-readable VC investment data.</h3>
<p>Problem: Entrepreneurs wish to know which VCs are actively investing. VCs wish to let entrepreneurs know they're actively investing. However, our current tools for exchanging this information are inaccurate and inefficent.</p>
<p>Investments.json is based on '<%= link_to "A Mechanism for VC Deal Transparency", "http://reactionwheel.blogspot.com/2013/04/a-mechanism-for-vc-deal-transparency.html" %>' by Jerry Neumann of <%= link_to "Neu Venture Capital", "http://neuvc.com/" %>. Jerry has proposed a standard JSON format for exchanging information about VC investments - <%= link_to "here's his example", "http://neuvc.com/portfolio.js" %>.</p>
<p>Since writing out JSON by hand is a pain, Investments.json provides tools for entering information and generating the JSON file automatically. Investments.json also allows investors to enter the URL of an existing JSON file and then edit their investment information.</p>
<h3>The two things you can do at Investments.json:</h3>
<div class="row">
  <div class="span6 offset3">
    <p><%= link_to "Create a new Investments.json file", new_investor_path, { :class => "btn btn-primary btn-large btn-block"} %></p>
    <p><%= link_to "Load an existing Investments.json file", load_investors_path, { :class => "btn btn-primary btn-large btn-block"} %></p>
  </div>
</div>