<h3 class="title">VCDelta provides simple tools for generating machine-readable VC investment data.</h3>
<div class="row">

  <div class="span8 main">
    <p>Investors and entrepreneurs both want to share information about investment activity - it helps entrepreneurs find active investors, which benefits both parties.</p>
    <p>That said, there's no standardized mechanism for sharing this information, and all sources of data are incomplete - which means tools for fundraising entrepreneurs are both difficult to build and often inaccurate. Databases like Crunchbase are often out of date. The Twitter bot <%= link_to "@VCDelta", "http://twitter.com/vcdelta/" %> scrapes venture capital websites and publicizes portfolio changes, but the tool is fragile and not all sites can be effectively scraped.</p>
    <p>We have a proposal - a standardized 'Investments.js' format for investors, easily readable by machines but easily createable by humans.  While the Investments.js format has not been finalized, it's based on '<%= link_to "A Mechanism for VC Deal Transparency", "http://reactionwheel.blogspot.com/2013/04/a-mechanism-for-vc-deal-transparency.html" %>' by Jerry Neumann of <%= link_to "Neu Venture Capital", "http://neuvc.com/" %>. These machine-readable Javascript files would be hosted on investors' websites in a standardized location, easily discoverable by bots. Investors would be responsible for updating and hosting their own Investments.js files.</p>
    <p>Writing machine-readable Javascript can be trying at times, and a single out-of-place punctuation mark can render the whole file useless. Because of this, we're providing some web-based tools to make Investments.js files a lot easier to create and maintain.</p>
  </div>
    <div class="span3 actions">
    <p><%= link_to "Read the Investments.js spec", specification_path, { :class => ""} %></p>
    <p><%= link_to "Create a new Investments.js file", new_investor_path, { :class => ""} %></p>
    <p><%= link_to "Edit an existing Investments.js file", load_investors_path, { :class => ""} %></p>
  </div>
</div>